#container {
  margin: 30px;
}

#container div{
  margin-bottom: 10px;
}

#custom {
  display: inline-block;
  width: 100px;
}

input {
  max-width: 46px;
  height: 16px;
  border: 1px solid;
  padding: 1px 1px 1px 5px;
  margin: 1px;
}

select {
  width: 54px;
  height: 20px;
  border: 1px solid;
  padding: 1px;
  margin: 1px;
}